<table class="table table-hover table-striped text-center">
    <thead>
        <tr>
        <th scope="col"></th>
        <th scope="col">{{ __('Plan name') }}</th>
        <th scope="col">{{ __('Amount') }}</th>
        <th scope="col">{{ __('Status') }}</th>
        <th scope="col">{{ __('Created at') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for index,paymentHistory in paymentHistories.data %}
        <tr>
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ paymentHistory.plan.name }}</td>
            <td>{{ paymentHistory.amount }}</td>
            <td>{% if paymentHistory.status == 'active' %} {{ __('Success') }} {% else %} {{ __('Pending') }} {% endif %}</td>
            <td>{{ paymentHistory.created_at }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="mx-auto">
    <div class="pagination-area">
        <div class="pagination wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
            {{ paginate_links(paymentHistories, 'theme::components.pagination') }}
        </div>
    </div>
</div>
